html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} /*Css reset*/

html{
    background-color: #fffff0;
}

body{
    padding-top: 180px; /*ajustar o começo do body para não ficar atrás do menu*/
}


/* Menu superior fixo na tela */
.menu{ 
    background-color: antiquewhite;
    padding: 15px;
    display: flex; /*flexbox para alinhar os itens horizontalmente, dando espaço e centralizando*/
    justify-content: space-around;
    align-items: center;
    position: fixed; /*menu fixo durante rolagem da página (position para fixar, width para preencher a tela inteira e top para grudar no topo da pagina)*/
    width: 100%; 
    top: 0;
    
    
}

/* Logo do menu superior */
.logo{
    width: 8%;
}

/* Fonte geral do menu superior */
.fontemenu{
    text-decoration: none;
    margin: 0px 20px 0px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;

}

/* Botão de contato do menu superior */
#contato{
    border: 3px solid black;
    padding: 5px;
    font-weight: bold;
}

/* FIM DO MENU (linha 17) */

.tituloinicial{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
}


/* 1º Section (3 cards) */
.sectioncards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 140px; /*Espaçar os 3 cards do 2º section*/
}

.imgcards{
    width: 500px;
    margin-bottom: 10px; /*Espaçar a imagem da legenda*/
    border-radius: 25px;
}

.textocards{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* 2º Section (Programação e Livros em alta*/
.sectionpromocaoelivros{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imgsection2{
    width: 200px;
}

.textosection2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}




/* Footer */

.footerprincipal{
    background-color: gray;
}

.footersection{
    display: flex; 
    justify-content: space-around;
    align-items: center;
}

.footerfigure{
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footerimgequipe{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}